haeder{
    /*box-sizing: border-box;*/
    display: flex;
    flex-wrap:wrap;
    background:#2c3e50;
    height: 85px;
    width: 100%;
    position: fixed;
    left: 0;
    top:0;
    z-index: 600;
    justify-content: flex-start;
    align-items:center;

}
#add_card_bar{
    display: none;
    flex-wrap:wrap;
    background:#2c3e50;
    height: 90px;
    width: 40%;
    position: relative;
    left:20%;
    top:-39%;
    align-items:center;

}
nav{
    box-sizing: border-box;
    display: flex;
    flex-wrap:wrap;
    font-size: 25px;
    font-weight: bold;
     margin-bottom: 1%;


}
ul{
    display: flex;
    flex-wrap:wrap;
     box-sizing: border-box;

}
li{

     display: flex;
    flex-wrap:wrap;
    margin:0  20px;
    list-style-type: none;


}
a{
     display: flex;
    flex-wrap:wrap;
    /*color: #CDD0D0;*/
    color: #fff;
    margin-bottom: -13px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }
a:hover {
    color: #18bc9c;
}
.search-box{
    display: flex;
    flex-wrap:wrap;
    position: fixed;
    min-width: 225px;
    max-width: 450px;
    margin-left:30%;
    margin-bottom: -1px;
    margin-top:2%;
    padding-left: 6%;
    padding-right: 1.5%;

}
.search-box img{
    position: absolute;
    flex-wrap:wrap;
    right:30px;
    top:5px;
    /*padding: 5px 5px;*/

}
#search{
    background: #eee;
    border: 1px solid #ccc;
    flex-wrap:wrap;
    border-radius: 50px;
    box-shadow: none;
    width: 100%;
    padding: 6px 37px 5px 12px;
    color: black;
}
#mySelect {
     display: flex;
    font-family: Cursive;
    padding: 3px 3px 3px 3px;
    border: 1px solid #ccc;
    border-radius:50px;
    margin-left: 27%;
    margin-bottom: 0.5%;
    background: #eee;
}

body{
    box-sizing: border-box;
    display: flex;
    flex-wrap:wrap;
    height: 1000px;
    padding: 200px;
    /*background: #f6f6f6;*/
     background: #18bc9c;
}


.dispaly_card
{
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
}
#cards{
    display: flex;
 border-radius: 10px;
 flex-wrap:wrap;
    /*height: auto;*/
}
.card{
     flex-wrap: wrap;
     float: left;
     margin-right: 10px;
     margin-left: 10px;
     margin-top:5% ;
     padding-top:7%;
     width: 250px;
     height: auto;
     border-radius: 10px;
     background:#2c3e50;
     -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
     box-shadow: 3px 3px 7px rgba(0,0,0,0.3);

}
#card_note{
    display: flex;
    background: #fff;
    word-wrap: break-word;
    margin-left: 3%;
    margin-right: 5%;
    padding-left:5% ;
    border-radius: 10px;
    margin-top:-2%;
    flex-direction: column;
    color:#2c3e50;
    text-overflow: ellipsis;
    font-family: Cursive;

    /*margin-right: 5%;*/
    /*margin-left: 5%;*/
}
#head_line_card{
    display: flex;
    height: 27px;
    margin-left: 3%;
    margin-right: 5%;
    margin-top: -15%;
    justify-content: center;
    color: #fff;
    background: #18bc9c;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.add_card{
      display: flex;
     position:absolute; bottom:0;
    /*word-wrap: break-word;*/
    margin-left: 1%;
    /*margin-right:5%;*/
    /*padding-left:5% ;*/
    border-radius: 10px;
    /*margin-top:-2%;*/
    margin-bottom: 30px;

    flex-direction: column;
    color:#2c3e50;
    text-overflow: ellipsis;
}
#list_add{
         display: flex;
    font-family: Cursive;
    padding: 3px 3px 3px 3px;
    border: 1px solid #18bc9c;
    border-radius:50px;
    margin-left: 23%;
    margin-bottom: 0.5%;
    background: #18bc9c;
}
#add_card_button{
    margin-left:36%;
    display: flex;
    font-family: Cursive;
    padding: 3px 3px 3px 3px;
    border: 1px solid #18bc9c;
    border-radius:50px;
    background: #18bc9c;
    margin-bottom: 0.5%;
}
#Cencel_card_button{
    margin-left:1%;
    display: flex;
    font-family: Cursive;
    padding: 3px 3px 3px 3px;
    border: 1px solid #18bc9c;
    border-radius:50px;
    background: #18bc9c;
    margin-bottom: 0.5%;
}